@"
PORT=4000
MONGO_URI=mongodb://localhost:27017/
MONGODB_DATABASE=houselevi_library
JWT_SECRET=ZwC6PxWTmbbtzex14U1sjliZywXSq+ZN25cGtPgSgZs=
JWT_EXPIRES_IN=7d
JWT_REFRESH_TOKEN_EXPIRY=30d
# PESAPAL
# =====================================
PESAPAL_CONSUMER_KEY=VQRPGfpXIFvxyxmRnaYiRCmVRf1ZtCTN
PESAPAL_CONSUMER_SECRET=qmszwKwGon5MYHd8oY3hdvtsKHQ=
PESAPAL_API_URL=https://pay.pesapal.com/v3/api
PESAPAL_IPN_ID=d31c7ece-b99c-46b6-b551-db0f2b362675
PESAPAL_MERCHANT_EMAIL=houselevi.network@gmail.com
PESAPAL_CALLBACK_URL=http://localhost:4000/billing/pesapal-webhook
PESAPAL_IPN_URL=http://localhost:4000/billing/pesapal-webhook

# =====================================
# CLOUDFLARE
# =====================================
CLOUDFLARE_ACCOUNT_ID=7a488e9b77e6c8630472a07003c7d8e4

# R2 credentials
CLOUDFLARE_R2_ACCESS_KEY_ID=656e04c4b3990eb2deb8fa8b7b409c43
CLOUDFLARE_R2_SECRET_ACCESS_KEY=0089695c14aee1a12e0e19115643d08e387a2cbb2252b4f63cdfcee0953912ed
CLOUDFLARE_R2_REGION=auto

# R2 public URLs (one per bucket group)
CLOUDFLARE_R2_PUBLIC_URL=https://pub-1a4d92b4abde4174abe660b16efc5cde.r2.dev
CLOUDFLARE_R2_PUBLIC_URL_TRAVEL=https://pub-8f79dd7db36343f1912455edf30c7e9f.r2.dev
CLOUDFLARE_R2_PUBLIC_URL_LTV=https://pub-de52d89b43c24c21b052efb8b23e9fd8.r2.dev
CLOUDFLARE_R2_PUBLIC_URL_HOSTS=https://pub-1210c46fee0244f6aa58acd69a6962df.r2.dev
CLOUDFLARE_R2_PUBLIC_URL_HOME=https://pub-f3f3a2f286664ab89a91655c80b0cbf9.r2.dev
CLOUDFLARE_R2_PUBLIC_URL_PODCAST=https://pub-328b12daabc14ba2b456246ba6a6446a.r2.dev
# R2 bucket names — one entry per bucket, NO duplicates
CLOUDFLARE_R2_BUCKET_MINISODE=reelafrika-mini-series
CLOUDFLARE_R2_BUCKET_REELFILM=reelafrika-reelfilms
CLOUDFLARE_R2_BUCKET_TV_EPISODE=reelafrika-tv-shows
CLOUDFLARE_R2_BUCKET_MOVIE=reelafrika-movies
CLOUDFLARE_R2_BUCKET_PODCAST=reelafrika-podcast
CLOUDFLARE_R2_BUCKET_MUSIC=reelafrika-music
CLOUDFLARE_R2_BUCKET_STAGEPLAY=reelafrika-stageplays
CLOUDFLARE_R2_BUCKET_SHOP=shop
CLOUDFLARE_R2_BUCKET_TRAVEL=travel
CLOUDFLARE_R2_BUCKET_LTV=ltv
CLOUDFLARE_R2_BUCKET_HOSTS=hosts
CLOUDFLARE_R2_BUCKET_HOME=home

# Cloudflare Stream
CLOUDFLARE_STREAM_API_URL=https://api.cloudflare.com/client/v4/accounts/7a488e9b77e6c8630472a07003c7d8e4/stream
CLOUDFLARE_STREAM_API_TOKEN=D7hnP2u5G04jyuX0-5R3G4WcTqujCay53Yt4zlTi
CLOUDFLARE_STREAM_UPLOAD_URL=https://api.cloudflare.com/client/v4/accounts/7a488e9b77e6c8630472a07003c7d8e4/stream
CLOUDFLARE_STREAM_CUSTOMER_CODE=32k71nhvyc2rvse0

NEXT_PUBLIC_API_URL=http://localhost:4000
"@ | Out-File -FilePath .env.example -Encoding utf8